{
  "openapi": "3.0.0",
  "info": {
    "title": "Pandora Validation SaaS API",
    "version": "1.0.0",
    "description": "API for Pandora Validation SaaS – validate transactions"
  },
  "servers": [
    {
      "url": "https://pandora.proximastech.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/wallet/deposit/cbe": {
      "post": {
        "tags": ["Banks"],
        "summary": "CBE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "txnId": { "type": "string" }
                },
                "required": ["txnId"],
                "example": {
                  "txnId": "FT251650K5Q7"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "doc": {
                      "type": "object",
                      "properties": {
                        "payer": { "type": "string" },
                        "payerAccount": { "type": "string" },
                        "receiver": { "type": "string" },
                        "receiverAccount": { "type": "string" },
                        "paymentDateTime": { "type": "string", "format": "date-time" },
                        "referenceNo": { "type": "string" },
                        "reason": { "type": "string" },
                        "transferredAmountETB": { "type": "number" },
                        "totalDebitedAmountETB": { "type": "number" },
                        "timeSinceTransaction": {
                          "type": "object",
                          "properties": {
                            "days": { "type": "integer" },
                            "hours": { "type": "integer" },
                            "minutes": { "type": "integer" }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "success",
                    "doc": {
                      "payer": "FILMON TEKLAY BEYENE",
                      "payerAccount": "1****4227",
                      "receiver": "BROOK YIHUN TEFERA",
                      "receiverAccount": "1****5646",
                      "paymentDateTime": "6/14/2025, 3:10:00 PM",
                      "referenceNo": "FT251650K5Q7",
                      "reason": "crd done via Mobile",
                      "transferredAmountETB": 1,
                      "totalDebitedAmountETB": 1,
                      "timeSinceTransaction": {
                        "days": 0,
                        "hours": 23,
                        "minutes": 1403
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Transaction is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "fail" },
                    "error": {
                      "type": "object",
                      "properties": {
                        "statusCode": { "type": "integer", "example": 403 },
                        "status": { "type": "string", "example": "fail" },
                        "isOperational": { "type": "boolean", "example": true }
                      }
                    },
                    "message": { "type": "string", "example": "Transaction is invalid!" }
                  },
                  "example": {
                    "status": "fail",
                    "error": {
                      "statusCode": 403,
                      "status": "fail",
                      "isOperational": true
                    },
                    "message": "Transaction is invalid!"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallet/deposit/cbebirr": {
      "post": {
        "tags": ["Wallet"],
        "summary": "CBE Birr",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "txnId": { "type": "string" }
                },
                "required": ["txnId"],
                "example": {
                  "txnId": "CD55MN81SD"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "doc": {
                      "type": "object",
                      "properties": {
                        "transactionInfo": {
                          "type": "object",
                          "properties": {
                            "debitAccount": { "type": "string" },
                            "debitAccountType": { "type": "string" },
                            "creditAccount": { "type": "string" },
                            "creditAccountType": { "type": "string" },
                            "receiverName": { "type": "string" },
                            "orderId": { "type": "string" },
                            "transactionStatus": { "type": "string" },
                            "reference": { "type": "string" }
                          }
                        },
                        "transactionDetails": {
                          "type": "object",
                          "properties": {
                            "receiptNumber": { "type": "string" },
                            "transactionDate": { "type": "string", "format": "date-time" },
                            "amount": { "type": "number" },
                            "totalAmountInWords": { "type": "string" },
                            "timeSinceTransaction": {
                              "type": "object",
                              "properties": {
                                "days": { "type": "integer" },
                                "hours": { "type": "integer" },
                                "minutes": { "type": "integer" }
                              }
                            },
                            "paymentReason": { "type": "string" },
                            "paymentChannel": { "type": "string" }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "success",
                    "doc": {
                      "transactionInfo": {
                        "debitAccount": "251935826542 - Filimon Teklay Beyene",
                        "debitAccountType": "Customer E-money Account",
                        "creditAccount": "1000****4227",
                        "creditAccountType": "CBE Bank Account",
                        "receiverName": "FILMON TEKLAY BEYENE",
                        "orderId": "FT25095994JK",
                        "transactionStatus": "Completed",
                        "reference": "tg"
                      },
                      "transactionDetails": {
                        "receiptNumber": "CD55MN81SD",
                        "transactionDate": "2025-04-05 14:01",
                        "amount": 600,
                        "totalAmountInWords": "Payment Reason\nPayment Channel \nSix Hundred  ETB and  zero Cents",
                        "timeSinceTransaction": {
                          "days": 71,
                          "hours": 1704,
                          "minutes": 102284
                        },
                        "paymentReason": "TransferfromMMToBank by Customer to Org",
                        "paymentChannel": "API"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Transaction is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "fail" },
                    "error": {
                      "type": "object",
                      "properties": {
                        "statusCode": { "type": "integer", "example": 403 },
                        "status": { "type": "string", "example": "fail" },
                        "isOperational": { "type": "boolean", "example": true }
                      }
                    },
                    "message": { "type": "string", "example": "Transaction is invalid!" }
                  },
                  "example": {
                    "status": "fail",
                    "error": {
                      "statusCode": 403,
                      "status": "fail",
                      "isOperational": true
                    },
                    "message": "Transaction is invalid!"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
